h3 {
    font-size: 25px;
    padding: 15px;
}

div {
    width: 80%;
    text-align: center;
}

img {
    filter: contrast(150%);
}

@media (max-width: 768px) {
    iframe {
        width: 80vw;
    }

    img {
        width: 80vw;
    }
}

@media (max-width: 425px) {
    iframe,
    img {
        width: 100%;
        min-width: 320px;
    }
}